* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
}
body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    user-select: none;
    overflow: hidden; /* Hide scrollbars */
}
.login {
    width: 400px;
    height: 320px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
    border-radius: 20px;
}
.login h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;

}
.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;

}
.login form input[type="password"], .login form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}
.login form input[type="submit"] {
    width: 100%;
    padding: 15px;
   margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
    border-radius: 20px;
}
.login form input[type="submit"]:hover {
  background-color: #2868c7;
    transition: background-color 0.2s;
    border-radius: 20px;
}
body.loggedin {
	background-color: #f3f4f7;
}
/* vanaf hier is ISP */
.search-container {
    width: 40%;
    height: 615px;
    position: absolute;
    left: 58%;
    border-radius: 25px;
    margin-top: 0px;
    border-color: var(--tertiary-color);
    border-width: 5px;
    transition: all 0.5s ease;
    box-shadow: 0 0 9px 10px rgba(67, 67, 67, 0.15);
    overflow-x: hidden;
    z-index: 1; /* Set a lower z-index value for the search container */
  }
.search-container:hover{
    box-shadow: 0 0 9px 10px rgba(67, 67, 67, 0.27);
}
body {
    user-select: none;
    margin: 0;
    overflow: hidden;  
    /* Hide scrollbars  */
    padding: 0;
}
.topbar {
    display: flex;
    align-items: center;
    background-color: var(--primary-color); 
    padding: 10px 0; 
}
.nottopbar {
    display: flex;
    align-items: top;
    background: var(--secundary-color);
    padding: 10px 0; 
    height: 1150px;      
    padding-top: 0px 0px; 
    background: rgb(34,34,34);
    background: linear-gradient(160deg, var(--secundary-color) 20%, rgba(148,187,233,1) 200%);
}
.nottopbar2 {
    display: flex;
    align-items: top;
    background: var(--secundary-color);
    padding: 10px 0; 
    height: 10000px;
    padding-top: 0px 0px; 
    background: rgb(34,34,34);
    background: linear-gradient(90deg, var(--secundary-color) 20%, rgba(148,187,233,1) 200%);
}
.button1 {
    user-select: none;
    transition: all 0.25s ease;
    border-radius: 8px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #5f6368; 
    background-color: var(--secundary-color); 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer; 
    margin: 0 4px; 
}
.button1:hover {
transform: scale(.95); 
box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.01);
}
.button1:active {
transform: scale(.9);
box-shadow: 0 0 8px 7px rgba(255, 255, 255, 0.01);
}
.searchBox{
transition: all 0.5s ease;
position: fixed;
right:0;
margin-right: 3%;
margin-top: -2px;
width: 350px;
border: 3px solid var(--quinary-color);;
background: transparent;
padding: 5px 10px;
border-radius: 50px;
outline: none;
font-size: 18px;
color: #757575;
font-weight: bold;
box-shadow: 0 0 12px 10px rgba(255, 255, 255, 0.025);
transition: all 0.5s ease;
background: var(--tertiary-color);
background: linear-gradient(160deg, var(--secundary-color) 19%, var(--primary-color) 100%);
}
.searchBox:hover{
    box-shadow: 0 0 12px 10px rgba(255, 255, 255, 0.05);
}
.button2{
    box-shadow: 0 0 12px 10px rgba(255, 255, 255, 0.01);
    transition: all 0.25s ease;
    margin-top: 20px;
    margin-left: 20px;
    height: 150px;
    width: 150px;
    user-select: none;
    border-radius: 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 29px;
    color: #5f6368; 
    border-width: 4px;
    border: none;
    background-color: var(--quaternary-color);
    cursor: pointer;
}
.button2:hover {
background-color: rgba #f2f3f5; 
transform: scale(.98); 
box-shadow: 0 0 12px 10px rgba(255, 255, 255, 0.03);
}
.button2:active {
transform: scale(.86);
box-shadow: 0 0 12px 10px rgba(255, 255, 255, 0.05);
}
.button2-1{
    margin-left: 70px; 
    margin-top: 40px;
    box-shadow: 0 0 12px 10px rgba(255, 255, 255, 0.01);
    transition: all 0.25s ease;
    height: 150px;
    width: 150px;
    user-select: none;
    border-radius: 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 29px;
    color: #5f6368; 
    border-width: 4px;
    border: none;
    background-color: var(--quaternary-color);
    cursor: pointer;
}
.button2-1:hover {
    background-color: rgba #f2f3f5; 
    transform: scale(.98); 
    box-shadow: 0 0 12px 10px rgba(255, 255, 255, 0.03);
    }
    .button2-1:active {
    transform: scale(.86);
    box-shadow: 0 0 12px 10px rgba(255, 255, 255, 0.05);
    }
.button2-2{
    margin-left: 70px; 
    margin-top: 20px;
    box-shadow: 0 0 12px 10px rgba(255, 255, 255, 0.01);
    transition: all 0.25s ease;
    height: 150px;
    width: 150px;
    user-select: none;
    border-radius: 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 29px;
    color: #5f6368; 
    border-width: 4px;
    border: none;
    background-color: var(--quaternary-color);
    cursor: pointer;
}
.button2-2:hover {
    background-color: rgba #f2f3f5; 
    transform: scale(.98); 
    box-shadow: 0 0 12px 10px rgba(255, 255, 255, 0.03);
    }
    .button2-2:active {
    transform: scale(.86);
    box-shadow: 0 0 12px 10px rgba(255, 255, 255, 0.05);
    }
#icon{
    transition: all 0.25s ease;
    width: 30px;
    cursor: pointer;
    margin-left: 97.5%;
    position: fixed;
}
#icon:hover{
    transform: scale(.95);
}
#icon:active{
    transform: scale(.9);
}
:root{    
    --primary-color: #1c1c1c ;
    --secundary-color: #222222;
    --tertiary-color: #222222;
    --quaternary-color: #333333;
    --quinary-color: #35373c;
    --senary-color: #e8e8e8;
}
.dark-theme{
    --primary-color: #e4e4e4 ;
    --secundary-color: #d3d3d3;
    --tertiary-color: (185, 191, 203, 0);
    --quaternary-color: #b2b4b8;
    --quinary-color: #b4baca;
    --senary-color: #1c1c1c;
}
.headerUM{
    color: var(--senary-color);
}
.profileBox{
    transition: all 0,25 ease;
    position: absolute;
    top: 23%;
    left: 38.65%;
    box-shadow: 0 0 12px 10px rgba(255, 255, 255, 0.01);
    transition: all 0.25s ease;
    justify-content: center;
    height: 350px;
    width: 250px;
    user-select: none;
    border-radius: 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 29px;
    color: #5f6368; 
    border-width: 4px;
    border-style: solid;
    border-color: var(--primary-color); 
    background-color: var(--secundary-color);
    color: var(--senary-color)
}
.profileBox input{
    background-color: var(--tertiary-color);
    color: var(--senary-color)
}
.profilesubmit{
    position: absolute;
    top: 76%;
    left: 41.8%;
    box-shadow: 0 0 12px 10px rgba(255, 255, 255, 0.01);
    user-select: none;
    transition: all 0.25s ease;
    border-radius: 8px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #5f6368; 
    background-color: var(--secundary-color); 
    padding: 10px 20px; 
    border-width: 4px;
    border-style: solid;
    border-color: var(--primary-color); 
    cursor: pointer; 
    margin: 0 4px; 
}
.profilesubmit:hover{
    box-shadow: 0 0 12px 10px rgba(255, 255, 255, 0.02);
    transform: scale(.98);
}
.profilesubmit:active{
    box-shadow: 0 0 12px 10px rgba(255, 255, 255, 0.03);
    transform: scale(.90);
}
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Set a higher z-index value for the popup to ensure it appears above other elements */
  }
  
  .popup-image {
    max-width: 90%; /* Set the maximum width to 70% of the viewport width */
    max-height: 90vh; /* Set the maximum height to 70% of the viewport height */
  }
  
  /* Additional styles for the close button */
  .popup-imsgespan {
    cursor: pointer;
    font-weight: bold;
    color: var(--senary-color);
  }
#header123{
    color: var(--senary-color);
}
.chatBox{
    margin-left: 70px;
    margin-top: 15px;
    position: flex;
    padding: 20px;
    max-width: 499px;
    max-height: 200px;
    width: 499px;
    height: 200px;
    background-color: var(--quaternary-color);
    overflow: auto;
    border-radius: 8px;
    color: var(--senary-color);
    box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.01);
}
.inputChatBox{
    margin-left: 200px;
    position: absolute;
    bottom: 0;
    width: 60%;
}
.inputChatBox input{
    background-color: var(--quinary-color);
    color: var(--senary-color);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.03);
}
.inputChatBox button{
    box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.01);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: var(--quinary-color);
    color: var(--senary-color);
    transition: all ;
    transition: all 0,25 ease;
}
.inputChatBox button:active{
    transform: scale(.95);
    box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.03);
}
  
@media screen and (min-width:851px) and (max-width: 985px){
    .button2{
        margin-top: 10px;
        margin-left: 15px;
        height: 130px;
        width: 130px;
        font-size: 19px;
    }
    .button2-1{
        margin-top: 10px;
        margin-left: 7px;
        height: 130px;
        width: 130px;
        font-size: 19px;
    }
    .button2-2{
        margin-top: 10px;
        margin-left: 7px;
        height: 130px;
        width: 130px;
        font-size: 19px;
    }
    .search-container {
        margin-top: 10px;
        width: 45%; 
        height: 415px; 
        left: 52%;
    }
    .searchBox{
        right: 19px;
        margin-right: 3%;
        width: 180px;
    }
    #icon{
        width: 30px;
        cursor: pointer;
        margin-left: 95.5%;
        position: fixed;
    }
    .chatBox{
        margin-left: 7px;
        margin-top: 15px;
        position: flex;
        padding: 20px;
        max-width: 430px;
        max-height: 200px;
        width: 430px;
        height: 200px;
        background-color: var(--quaternary-color);
        overflow: auto;
        border-radius: 8px;
        color: var(--senary-color);
        box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.01);
    }
    .inputChatBox{
        margin-left: 100px;
        position: absolute;
        bottom: 120px;
        width: 60%;
    }
    .inputChatBox input{
        bottom: 120px;
        background-color: var(--quinary-color);
        color: var(--senary-color);
        border: none;
        border-radius: 5px;
        box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.03);
    }
    .inputChatBox button{
        box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.01);
        cursor: pointer;
        border: none;
        border-radius: 5px;
        background-color: var(--quinary-color);
        color: var(--senary-color);
        transition: all ;
        transition: all 0,25 ease;
    }
    .inputChatBox button:active{
        transform: scale(.95);
        box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.03);
    }
}
@media screen and (min-width:701px) and (max-width: 850px){
    .button2{
        margin-top: 10px;
        margin-left: 7px;
        height: 110px;
        width: 110px;
        font-size: 19px;
    }
    .button2-1{
        margin-top: 10px;
        margin-left: 7px;
        height: 110px;
        width: 110px;
        font-size: 19px;
    }
    .button2-2{
        margin-top: 10px;
        margin-left: 7px;
        height: 110px;
        width: 110px;
        font-size: 19px;
    }
    .search-container {
        margin-top: 10px;
        width: 45%; 
        height: 415px; 
        left: 52%;
    }
    .searchBox{
        right: 19px;
        margin-right: 3%;
        width: 180px;
    }
    #icon{
        width: 30px;
        cursor: pointer;
        margin-left: 94.5%;
        position: fixed;
    }
    .chatBox{
        margin-left: 7px;
        margin-top: 15px;
        position: flex;
        padding: 20px;
        max-width: 330px;
        max-height: 200px;
        width: 330px;
        height: 200px;
        background-color: var(--quaternary-color);
        overflow: auto;
        border-radius: 8px;
        color: var(--senary-color);
        box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.01);
    }
    .inputChatBox{
        margin-left: 55px;
        position: absolute;
        bottom: 170px;
        width: 60%;
    }
    .inputChatBox input{
        bottom: 170px;
        background-color: var(--quinary-color);
        color: var(--senary-color);
        border: none;
        border-radius: 5px;
        box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.03);
    }
    .inputChatBox button{
        box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.01);
        cursor: pointer;
        border: none;
        border-radius: 5px;
        background-color: var(--quinary-color);
        color: var(--senary-color);
        transition: all ;
        transition: all 0,25 ease;
    }
    .inputChatBox button:active{
        transform: scale(.95);
        box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.03);
    }
}
@media screen and (min-width:601px) and (max-width: 850px){
    .button2{
        margin-top: 10px;
        margin-left: 6px;
        height: 105px;
        width: 105px;
        font-size: 19px;
    }
    .button2-1{
        margin-top: 10px;
        margin-left: 6px;
        height: 105px;
        width: 105px;
        font-size: 19px;
    }
    .button2-2{
        margin-top: 10px;
        margin-left: 6px;
        height: 105px;
        width: 105px;
        font-size: 19px;
    }
    .search-container {
        margin-top: 10px;
        width: 40%; 
        height: 415px; 
        left: 57%;
    }
    .searchBox{
        right: 19px;
        margin-right: 3%;
        width: 180px;
    }
    #icon{
        width: 30px;
        cursor: pointer;
        margin-left: 94.5%;
        position: fixed;
    }
    .chatBox{
        margin-left: 7px;
        margin-top: 15px;
        position: flex;
        padding: 20px;
        max-width: 330px;
        max-height: 200px;
        width: 330px;
        height: 200px;
        background-color: var(--quaternary-color);
        overflow: auto;
        border-radius: 8px;
        color: var(--senary-color);
        box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.01);
    }
    .inputChatBox{
        margin-left: 55px;
        position: absolute;
        bottom: 170px;
        width: 60%;
    }
    .inputChatBox input{
        bottom: 170px;
        background-color: var(--quinary-color);
        color: var(--senary-color);
        border: none;
        border-radius: 5px;
        box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.03);
    }
    .inputChatBox button{
        box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.01);
        cursor: pointer;
        border: none;
        border-radius: 5px;
        background-color: var(--quinary-color);
        color: var(--senary-color);
        transition: all ;
        transition: all 0,25 ease;
    }
    .inputChatBox button:active{
        transform: scale(.95);
        box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.03);
    }
}
@media screen and (min-width:550px) and (max-width: 600px){
    .button2{
        margin-top: 10px;
        margin-left: 5px;
        height: 100px;
        width: 100px;
        font-size: 19px;
    }
    .button2-1{
        margin-top: 10px;
        margin-left: 7px;
        height: 100px;
        width: 100px;
        font-size: 19px;
    }
    .button2-2{
        margin-top: 10px;
        margin-left: 7px;
        height: 100px;
        width: 100px;
        font-size: 19px;
    }
    .search-container {
        margin-top: 40px;
        width: 40%; 
        height: 315px; 
    }
    .searchBox{
        right:-5px;
        margin-right: 3%;
        margin-top: 110px;
        width: 200px;
    }
    #icon{
        width: 30px;
        cursor: pointer;
        margin-left: 93.5%;
        position: fixed;
    }
    .chatBox{
        margin-left: 7px;
        margin-top: 15px;
        position: flex;
        padding: 20px;
        max-width: 317px;
        max-height: 200px;
        width: 317px;
        height: 200px;
        background-color: var(--quaternary-color);
        overflow: auto;
        border-radius: 8px;
        color: var(--senary-color);
        box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.01);
    }
    .inputChatBox{
        margin-left: 45px;
        position: absolute;
        bottom: 180px;
        width: 60%;
    }
    .inputChatBox input{
        bottom: 180px;
        background-color: var(--quinary-color);
        color: var(--senary-color);
        border: none;
        border-radius: 5px;
        box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.03);
    }
    .inputChatBox button{
        box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.01);
        cursor: pointer;
        border: none;
        border-radius: 5px;
        background-color: var(--quinary-color);
        color: var(--senary-color);
        transition: all ;
        transition: all 0,25 ease;
    }
    .inputChatBox button:active{
        transform: scale(.95);
        box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.03);
    }
}

@media screen and (min-width:0px) and (max-width: 549px){
    .button2{
        margin-top: 290px;
        margin-left: 5px;
        height: 100px;
        width: 100px;
        font-size: 19px;
    }
    .button2-1{
        margin-top: 10px;
        margin-left: 40px;
        height: 100px;
        width: 100px;
        font-size: 19px;
    }
    .button2-2{
        margin-top: 10px;
        margin-left: 40px;
        height: 100px;
        width: 100px;
        font-size: 19px;
    }
    .search-container {
        width: 88%; 
        height: 225px; 
        left: 5%;
        margin-top: 40px;
    }
    .searchBox{
        right: 10px;
        margin-top: 110px;
        width: 330px;
    }
    #icon{
        width: 30px;
        cursor: pointer;
        margin-left: 90%;
        position: fixed;
    }
    .chatBox{
        margin-left: 40px;
        margin-top: 15px;
        position: flex;
        padding: 20px;
        max-width: 317px;
        max-height: 100px;
        width: 317px;
        height: 100px;
        background-color: var(--quaternary-color);
        overflow: auto;
        border-radius: 8px;
        color: var(--senary-color);
        box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.01);
    }
    .inputChatBox{
        margin-left: 45px;
        position: absolute;
        bottom: 10px;
        width: 60%;
    }
    .inputChatBox input{
        bottom: 180px;
        background-color: var(--quinary-color);
        color: var(--senary-color);
        border: none;
        border-radius: 5px;
        box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.03);
    }
    .inputChatBox button{
        box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.01);
        cursor: pointer;
        border: none;
        border-radius: 5px;
        background-color: var(--quinary-color);
        color: var(--senary-color);
        transition: all ;
        transition: all 0,25 ease;
    }
    .inputChatBox button:active{
        transform: scale(.95);
        box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.03);
    }
}